// Theme's SCSS

.cooked .iframe-container {
  .bilibili-iframe {
    width: 100%;
    aspect-ratio: 16/9;
  }
  .iframe-title {
    text-align: center;
  }
  .music163-iframe {
    width: 100%;
  }
}
